<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <meta charset="UTF-8">
  <title>| Movie Lovers |</title>
</head>
<body>
<header>
MOVIE LOVERS<br>
</header>
  <form action='/trivia' method='POST'>
    <input type='text' name='term' placeholder='write any word you fancy'>   
    <button type='submit' name='selection' >Submit</button>
 </form>
</body>
</html>