<!doctype html>
<html>
<head>
  <title>Movie lovers! IMDB</title>
</head>
<body>
  <h1>Movie lovers! IMDB</h1>
  <form action="/show_movies" method="post">
    <input type="text" name="word" placeholder="Word"/>
    <button type="submit" name="word_chosen">Search</button>
  </form>
</body>