<h1>My First Sinatra</h1>
<p>
  <b>Author:</b>
  Johnny Appleseed
</p>

<% if Date.today.tuesday? %>
  <p>
    Izzy Ironside is <strong>NOT</strong>
    a fan of Mondays like today.
  </p>

  <p>
    Izzy Ironside was born on
    <% Date.today %>
  </p>
<% end %>