<html>
  <head>
    <meta charset="UTF-8">
    <title>RU'S IRONHACK BLOG</title>
  </head>
  <body>
    <h1>Welcome to my blog</h1>
    <% @posts.each_with_index  do |post, index| %>
      <h3><a href="/post_details/<%= index%>"><%= post.title %></a></h3>
    <% end %>
  </body>
</html>