<html>
<head>
  <meta charset="UTF-8">
  <title>RU'S IRONHACK BLOG</title>
</head>
  <body>
    <h1> Create a new post</h1>
      <form action="/????" method="POST">
        <p>Tittle: <p> <input type="text" name="title" value="title"> <br>
        <p>Post: <p><input type="text" name="post" value="post">
        <p>Author: <p><input type="text" name="author" value="author">
        <p>Category: <p> <input type="text" name="category" value="cathegory"> <br>
        <br><br>
        <button type="submit" name="creation" value="creation">Create post</button>
      </form>
  </body>
</html>