<html>
<head>
  <meta charset="UTF-8">
  <title>Congrats!!!</title>
</head>
  <body>
    <h1>Congratulations <%= @email %>!! Your login is CORRECT!!!</h1>
    <img src="http://i780.photobucket.com/albums/yy82/Cute_Stuff/Pink/PinkUnicorn.gif" alt="Logged">
  </body>
</html>