<html>
<head>
  <meta charset="UTF-8">
  <title>Insecure Password</title>
</head>
  <body>
    <h1>Create a new login</h1>
      <form action="/send_data" method="POST">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit" name="login" value="login">Log in</button>
      </form>
  </body>
</html>